.banner__tag {
  padding: 5px 8px;
  margin-right: 8px;
  text-transform: uppercase;
  color: $white;
  background-color: $ship-grey;
}

.banner-left {
  display: inline-block;
}

.banner-right {
  float: right;
}
